@model Anunt;

<div class="overlay" id="overlay"></div>

<div class="container g-3 pt-3">
    <div class="col-12 col-md-8 mx-auto">
        <div class="card bg-white mt-2 border-0 border-round">
            <img src="@Model.ImageURL">
        </div>

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-4 my-4">
                <p class="text-muted" > @Model.Date </p>
                <h1> @Model.Title </h1> 
                <h3 style="font-weight: bold" class="mb-1" > @Model.Price Lei </h3>
                <hr>
                <label style="font-size: 24px" class="mb-1"> Descriere </label>
                <p> @Model.Description </p>
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round"> 
            <div class="mx-4 my-4">
                <h4> Localizare </h4>
                <p><b>@Model.City,</b> @Model.County </p>
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round" >
            <div class="mx-4 my-4">
                <div class="col">
                    <h4> Contact </h4>
                    <button class="btn btn-custom btn-large" id="contactButton" onClick="showContact()" > Contacteaza Vanzator </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="popup">
      <img src="https://www.passionjewellers.com/wp-content/uploads/2018/09/phone-png-phone-png-file-1969.png" >
      <h1> Contact Vanzator </h1>

      <div class="row">
        <label class="mt-4"> Tel: @Model.NumarTelefon </label>
      </div>
 
      <div class="row">
        <button class="btn btn-custom" onClick="closeContact()" > Close </button>
      </div>

</div>

<style>
    .btn:hover
    {
        color: #cecece;
    }

    .background
    {
        background-color: #f2f4f5;
        border-width: 0px;
    }

    .description
    {
        height: 200px;
    }

.popup
{
  border-radius: 10px;
  border-width: 5px;
  border: black;
  border-color: rgb(54, 54, 54);
  width: 400px;
  background-color: #e8e8e8;
  position: fixed;
  top: 0%;
  left: 50%;
  text-align: center;
  padding: 30px;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform ease-in-out 0.2s;
  visibility: hidden;
  z-index: 10;
}

.popup-show
{
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popup img
{
  width: 100px;
  height: 100px;
  margin-top: -80px;
  box-shadow: black;
}

.overlay
{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 9;
}

.overlay-show
{
    opacity: 100;
    pointer-events: all;
}

.popup .btn
{
    color: white;
    margin-top: 30px;
    border-radius: 25px;
}

</style>

<script>
    let popup = document.getElementById("popup");
    let overlay = document.getElementById("overlay")
    
    function showOverlay()
    {
        overlay.classList.add("overlay-show");
    }

    function closeOverlay()
    {
        overlay.classList.remove("overlay-show");
    }

    function showContact()
    {
        popup.classList.add("popup-show");
        showOverlay();
    }

    function closeContact()
    {
        popup.classList.remove("popup-show");
        closeOverlay();
    }


</script>