@model Anunt;

<div class="overlay" id="overlay"></div>

<div class="container g-3 pt-3">
    <div class="col-12 col-md-8 mx-auto">
        <div class="card bg-white mt-2 border-0 border-round">
            <img src="" data-id="@Model.Id">
        </div>

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-4 my-4">
                <p class="text-muted" > @Model.Date.ToShortDateString() </p>
                <h1> @Model.Title </h1> 
                <h3 style="font-weight: bold" class="mb-1" > @Model.Price Lei </h3>
                <hr>
                <label style="font-size: 24px" class="mb-1"> Descriere </label>
                <p> @Model.Description </p>
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round"> 
            <div class="mx-4 my-4">
                <h4> Localizare </h4>
                <p><b>@Model.City,</b> @Model.County </p>
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round" >
            <div class="mx-4 my-4">
                <div class="col">
                    <h4> Contact </h4>
                    <button class="btn btn-custom btn-large" id="contactButton" onClick="showContact()" > Contacteaza Vanzator </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="popup">
      <img src="https://www.passionjewellers.com/wp-content/uploads/2018/09/phone-png-phone-png-file-1969.png" >
      <h1> Contact Vanzator </h1>

      <div class="row">
        <label class="mt-4"> Tel: @Model.NumarTelefon </label>
      </div>
 
      <div class="row" style="margin-bottom: -15px;">
        <button class="btn btn-custom" onClick="closeContact()" > Close </button>
      </div>

</div>

<script>
    var id = @Html.Raw(Json.Serialize(@Model.Id))
    var image = @Html.Raw(Json.Serialize(@Model.Image))

    var parameter = '[data-id="' + id + '"]'
    var img = document.querySelector(parameter)
    img.src = "data:image/png;base64," + image

</script>

<style>
    .card .btn
    {
        border: 3px solid #002f34;
        font-weight: 400;
    }

    .popup .btn
    {
        border: 3px solid #002f34;
        font-weight: 400;
    }

    .popup .btn:hover 
    {
        border: 3px solid #002f34;
        color: #002f34;
        background-color: white;
    }


    .card .btn:hover 
    {
        border: 3px solid #002f34;
        color: #002f34;
        background-color: white;
    }

    .background
    {
        background-color: #f2f4f5;
        border-width: 0px;
    }

    .description
    {
        height: 200px;
    }

</style>

<script>

    

    let popup = document.getElementById("popup");
    let overlay = document.getElementById("overlay")
    
    function showOverlay()
    {
        overlay.classList.add("overlay-show");
    }

    function closeOverlay()
    {
        overlay.classList.remove("overlay-show");
    }

    function showContact()
    {
        popup.classList.add("popup-show");
        showOverlay();
    }

    function closeContact()
    {
        popup.classList.remove("popup-show");
        closeOverlay();
    }


</script>