@model Marketplace.ViewModels.FormViewModel;

<div class="container g-3">
    @using (@Html.BeginForm("Save", "Home", FormMethod.Post, new { @enctype="multipart/form-data"}))
    {
        <h2 class="ms-2 mt-3"> Publica un anunt </h2>
        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3" >
                <label> Titlu </label>
                
                <div class="col-12 col-md-6">
                    <input class="form-control background" type="text" name="title" id="titleInput">  
                </div>
                
                <label class="mt-2"> Categorie </label>
                <div class="col-12 col-md-4">
                    @Html.DropDownList("category", new SelectList(new List<string>()), "Categorie", new { @class = "form-control background", @Id = "categorieDropDown" })
                </div>
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <label> Imagine </label>
                <input type="file" name="file" id="imageInput" onchange="photoChanged()">
                <img class="imagePreview" style="width: 300px; height: 300px" src="" id="imagePreview" >   
                <!-- To do... -->
            
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <label> Descriere </label>
                @Html.TextArea("description", new { @class = "form-control background description", @placeholder = "Incearca sa scrii ceea ce ai vrea tu sa aflii daca te-ai uita la acest anunt", @name="description" }  )
            </div>
        </div>
        
        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <label> Pret </label>
                <div class="row">
                    <div class="col-6">
                        <input type="text" name="price" class="form-control background">    
                    </div>
                </div>
            </div>
        </div>
        

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <div class="row">
                    <label> Locatie </label>
                    <div class="col-12 col-md-6 mb-2">
                        @Html.DropDownList("county", new SelectList(@Model.Counties.ToList()), "Alege Judetul", new { @class="form-control background", @Id="countyDropDown", @name="county" })
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.DropDownList("city", new SelectList(@Model.Counties.ToList()), "Alege Oras/Localitate", new { @class = "form-control disabled background", @Id = "cityDropDown", @name="city" })
                    </div>
                </div>
                
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <label> Date personale </label>
                <div class="row">
                    <div class="col-12 col-md-6 mb-2">
                        <input type="mail" name="mail" class="form-control background" placeholder="Mail" >  
                    </div>
                
                    <div class="col-12 col-md-6">
                        <input type="tel" name="phone" class="form-control background" placeholder="07...." >
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card bg-white my-2 border-0 border-round">
                 <div class="mx-3 my-3">
                    <button id="formButton" class="btn btn-custom text-white formButton" onclick="submitForms()"> Publica un anunt </button>
                </div>
        </div>
    
        @Html.AntiForgeryToken();
    }
</div>


@section Scripts
{
    <script>

        function photoChanged()
        {
            var input = document.getElementById("imageInput");
            var imagePreview = document.getElementById("imagePreview");
            
            const [file] = input.files
            
            if ( file )
            {
                imagePreview.src = URL.createObjectURL(file)
            }
        }

        $(document).ready( function()
        {
            var countyDropDown = $("#countyDropDown");
            var cityDropDown = $("#cityDropDown");
            var categorieDropDown = $("#categorieDropDown");
            cityDropDown.empty();

            $.get("/api/categories", function(data)
            {
                $.each(data, function(index)
                {
                    categorieDropDown.append("<option>" + data[index] + "</option>");
                })
            });

            countyDropDown.change( function()
            {
                var url1 = "http://localhost:5064/api/location/GetAuto/" + countyDropDown.val();
                $.get(url1, function(data)
                {
                    var auto = String(data);

                    cityDropDown.empty();
                    var url = "http://localhost:5064/api/location/cities/" + auto;
                    $.get(url, function(data)
                    {
                        $.each(data, function(city)
                        {
                            cityDropDown.append("<option> " + data[city] + " </option>")
                        })

                    });

                });
                
            } )
        });
    </script>
}