@model Marketplace.ViewModels.FormViewModel;

<div class="container g-3">
    @using (@Html.BeginForm("Save", "Home", FormMethod.Post, new { @enctype="multipart/form-data"}))
    {
        <h2 class="ms-2 mt-3"> Publica un anunt </h2>
        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3" >
                <label> Titlu </label>
                
                <div class="col-12 col-md-6">
                    @Html.TextBoxFor(m=>m.Anunt.Title, new { @class="form-control background", @Id ="titleInput" })
                    @Html.ValidationMessageFor( m=>m.Anunt.Title )
                </div>
                
                <label class="mt-2"> Categorie </label>
                <div class="col-12 col-md-4">
                    @Html.DropDownListFor(m=>m.Anunt.Category, new SelectList(@Model.Categories), "Categorie", new { @class = "form-control background", @Id = "categorieDropDown" })
                    @Html.ValidationMessageFor( m=>m.Anunt.Category )
                </div>
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <label> Imagine </label>
                <input type="file" name="file" id="imageInput" onchange="photoChanged()">
                <div class="col-6 pb-2g">
                    <div class="ratio ratio-4x3">
                        <img class="imagePreview" src="" id="imagePreview" >   
                    </div>
                </div>
                <!-- To do... -->
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <label> Descriere </label>
                @Html.TextAreaFor( m=>m.Anunt.Description, new { @class = "form-control background description", @placeholder = "Incearca sa scrii ceea ce ai vrea tu sa aflii daca te-ai uita la acest anunt", @name="description" }  )
                @Html.ValidationMessageFor( m=>m.Anunt.Description )
            </div>
        </div>
        
        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <label> Pret </label>
                <div class="row">
                    <div class="col-6">
                        @Html.TextBoxFor( m=>m.Anunt.Price, new { @class="form-control background" } )
                        @Html.ValidationMessageFor( m=>m.Anunt.Price )
                    </div>
                </div>
            </div>
        </div>
        

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <div class="row">
                    <label> Locatie </label>
                    <div class="col-12 col-md-6 mb-2">
                        @Html.DropDownListFor(m=>m.Anunt.County, new SelectList(@Model.Counties.ToList()), "Alege Judetul", new { @class="form-control background", @Id="countyDropDown", @name="county" })
                        @Html.ValidationMessageFor( m=>m.Anunt.County )
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.DropDownListFor( m=> m.Anunt.City, new SelectList(@Model.Counties.ToList()), "Alege Oras/Localitate", new { @class = "form-control disabled background", @Id = "cityDropDown", @name="city" })
                        @Html.ValidationMessageFor( m=>m.Anunt.City )
                    </div>
                </div>
                
            </div>
        </div>

        <div class="card bg-white mt-2 border-0 border-round">
            <div class="mx-3 my-3">
                <label> Date personale </label>
                <div class="row">
                    <div class="col-12 col-md-6 mb-2">
                        @Html.TextBoxFor( m=>m.Anunt.Mail, new { @class="form-control background", @placeholder="Mail"})
                        @Html.ValidationMessageFor( m=>m.Anunt.Mail )
                    </div>
                
                    <div class="col-12 col-md-6">
                        @Html.TextBoxFor( m=>m.Anunt.NumarTelefon, new { @class="form-control background" } )
                        @Html.ValidationMessageFor( m=>m.Anunt.NumarTelefon )
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card bg-white my-2 border-0 border-round">
                 <div class="mx-3 my-3">
                    <button id="formButton" class="btn btn-custom" onclick="submitForms()"> Publica un anunt </button>
                </div>
        </div>
        
        @Html.HiddenFor(m=>m.Anunt.Image)
        @Html.HiddenFor(m=>m.Anunt.Id)
    
        @Html.AntiForgeryToken();
    }
</div>


@section Scripts
{
    <script>

        function photoChanged()
        {
            var input = document.getElementById("imageInput");
            var imagePreview = document.getElementById("imagePreview");
            
            const [file] = input.files
            
            if ( file )
            {
                imagePreview.src = URL.createObjectURL(file)
            }
        }

        $(document).ready( function()
        {
            var countyDropDown = document.getElementById("countyDropDown")
            var cityDropDown = $("#cityDropDown");
            var categorieDropDown = document.getElementById("categorieDropDown");
            cityDropDown.empty();

            var categoriesCount = @Html.Raw(Json.Serialize(@Model.Categories.Count()));


            // Getting the categories from the api 
            @* $.get("/api/categories", function(data)
            {
                $.each(data, function(index)
                {
                    categorieDropDown.append("<option>" + data[index] + "</option>");
                })
            }); *@
            
            var anuntCategory = @Html.Raw(Json.Serialize(@Model.Anunt.Category))
            console.log(anuntCategory)
            for ( var i=1; i<=categoriesCount; i++ )
            {
                if ( categorieDropDown.options[i] == anuntCategory )
                    categorieDropDown.selectedIndex = i;
            }

            <!-- Reloading the Category,county and city -->

            var anuntCity;
            var paramValues = window.location.search;
            var params = new URLSearchParams(paramValues);
            var id = params.get("id");

            var jsCityDropdown = document.getElementById("cityDropDown");

            if ( id != null )
            {
                document.getElementById("formButton").innerText = "Salveaza"

                const request = new XMLHttpRequest();
                request.open("GET", "/api/anunt/" + id);
                request.send();
                request.onload = () => 
                {
                    var JsonData = JSON.parse(request.response)
                    imagePreview.src = 'data:image/png;base64,' + JsonData.image
                    $("#countyDropDown").val(JsonData.county)
                }
            }
            loadCities();

            
            
            function loadCities()
            {
                var anuntCity = @Html.Raw(Json.Serialize(@Model.Anunt.City))
                console.log(anuntCity)
                var url1 = "http://localhost:5064/api/location/GetAuto/" + $("#countyDropDown").val();
                $.get(url1, function(data)
                {
                    var auto = String(data);

                    cityDropDown.empty();
                    var url = "http://localhost:5064/api/location/cities/" + auto;
                    $.get(url, function(data)
                    {
                        $.each(data, function(city)
                        {
                            cityDropDown.append("<option> " + data[city] + " </option>")
                            if ( data[city] == anuntCity )
                                document.getElementById("cityDropDown").selectedIndex = city;
                        })
                    })
                })
            }


            $("#countyDropDown").change( function()
            {
                loadCities();
            })

            <!-- Reloading the Category,county and city -->
            var paramValues = window.location.search;
            var params = new URLSearchParams(paramValues);
            var id = params.get("id");

            var jsCityDropdown = document.getElementById("cityDropDown");

            if ( id != null )
            {
                document.getElementById("formButton").innerText = "Salveaza"

                const request = new XMLHttpRequest();
                request.open("GET", "/api/anunt/" + id);
                request.send();
                request.onload = () => 
                {
                    var JsonData = JSON.parse(request.response)
                    imagePreview.src = 'data:image/png;base64,' + JsonData.image
                    $("#countyDropDown").val(JsonData.county)
                    var anuntCity = JsonData.city;
                    loadCities();
                    console.log(JsonData.city)

                }
            } 

        });


   </script>
}