@model Marketplace.ViewModels.HomeIndexViewModel;

<div class="container" style="background-color: #f2f4f5;">
    <div class="row g-1 mt-4 mb-5 mx-2" >
        <div class="col-sm-12 col-md-6">
            <input type="search" class="searchBar" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" id="searchBox"/>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="dropdown-custom" data-dropdown>
                <button class="btn searchBarButton" data-dropdown-button id="countyDropdownButton" > Toata Romania </button>      
                
                <div class="dropdown-custom-menu" style="width: 200px">
                    <div >
                        @Html.DropDownList("Toata Romania", new SelectList(new List<string>()), "Toata Romania", new { @class="form-control", @id="countyDropDown", @onchange = "changeCounty()"})
                        @Html.DropDownList("Localitate", new SelectList(new List<string>()), "Toate Localitatile", new {@class="form-control mt-2", @id="cityDropDown", @onchange = "changeCity()"})
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-2 mx-auto">
            <button type="submit" class="btn btn-outline-custom" id="searchButton" >Cautare</button>
        </div>
    </div>

</div>

<div class="container-fluid" style="background-color: white;">
    <div class="container pt-2">
        <h1 class="text-center mb-2"> Categorii Principale </h1>
        
        <div class="row px-3 my-5">
            @foreach (var cat in @Model.Categories)
            {
                @Html.Partial("CategorieCardPartial", cat);
            }
        </div>
    </div>
</div>

<div class="container-fluid mt-5" style="background-color: #f2f4f5;">
    <div class="container g-1" style="background-color: #f2f4f5;">
        <div class="row" style="background-color: #f2f4f5;">
            @if (@Model.Anunturi != null && @Model.Anunturi.Count > 0 )
            {
                <h1 class="text-center my-2"> Anunturi Promovate </h1>
                @foreach (var anunt in @Model.Anunturi)
                {
                    <div class="col-12 col-md-6 col-lg-3 py-2" style="background-color: #f2f4f5;">
                        <div class="card border-0">
                            
                            <a asp-action="Index" asp-controller="Oferta" asp-route-id="@anunt.Id">
                                <div class="ratio ratio-4x3">
                                    <img class="card-img-top px-3 pt-3" src="" data-id="@anunt.Id">
                                    <!-- To do -->
                                </div>
                            </a>
                            
                            <div class="card-body">
                                <div style="height: 65px" >
                                    <p class="text-dark px-1">@anunt.Title</p>

                                </div>
                                <p class="text-muted px-1 mt-2" style="font-size: small;"> @anunt.County - @anunt.Date.ToShortDateString() </p>
                                <p class="px-1 " style="font-weight: bold"> @anunt.Price Lei </p>
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                <h1 style="text-dark"> Nu exista anunturi disponibile </h1>
            }

        </div>
    </div>

</div>

<style>
    .image
    {
        position: absolute,
        top: 0,
        bottom: 0,
        right: 0,
        left: 0,
        width: 100%,
        padding-top: 100%;
    }
    .btn-custom 
    {
        background-color: #002f34;
        border-color: #002f34;
        color: #fff;
    }

</style>

@section Scripts
{
    <script>
        
        @foreach (var anunt in Model.Anunturi)
        {
            <text>
                var id = @Html.Raw(Json.Serialize(@anunt.Id))
                var image = @Html.Raw(Json.Serialize(@anunt.Image))

                var parameter = '[data-id="' + id + '"]'
                var img = document.querySelector(parameter)
                img.src = "data:image/png;base64," + image

            </text>
        }
        document.addEventListener("click", e => 
        {

            const isDropDownButton = e.target.matches("[data-dropdown-button]")
            if ( !isDropDownButton && e.target.closest("[data-dropdown]") != null ) return;

            let currentDropDown;
            if ( isDropDownButton )
            {
                currentDropDown = e.target.closest("[data-dropdown]");
                currentDropDown.classList.toggle("active");
            }

            document.querySelectorAll("[data-dropdown].active").forEach( dropdown =>
            {
                if ( dropdown == currentDropDown ) return;
                dropdown.classList.remove("active")
            })
        })
        var dropDownButton = $("#countyDropdownButton")
        var countyDropdown = $("#countyDropDown")
        var countyDropDown = $("#countyDropDown");
        var cityDropDown = $("#cityDropDown");

        function changeCounty()
        {
            dropDownButton.text(countyDropdown.val())
        }

        function changeCity()
        {
            dropDownButton.text(dropDownButton.text()+ ", " + cityDropDown.val())
            document.querySelectorAll("[data-dropdown].active").forEach( dropdown =>
            {
                dropdown.classList.remove("active")
            })
        }
        

        $(document).ready(function()
        {
            var searchButton = $("#searchButton");
            var searchBox = $("#searchBox");
            
            var url = "http://localhost:5064/api/location/counties";
            $.get(url, function(data)
            {
                $.each(data, function(index)
                {
                    countyDropDown.append("<option>"+ data[index] +"</option>");
                })
            })
            
            searchButton.on("click", function()
            {
                if ( searchBox.val() != "" || countyDropDown.val() != "Toata Romania" )
                {
                    var url = "Oferte/Index?q=" + searchBox.val();
                    if ( countyDropDown.val() != "Toata Romania" && countyDropDown.val() != "" )
                    {
                        url += "&county=" + countyDropDown.val();
                    }
                    if ( cityDropDown.val() != "Toate Localitatile" )
                    {
                        url += "&city=" + cityDropDown.val();
                    }
                    location.href = url;
                }
            });

            countyDropDown.on("change", function()
            {
                cityDropDown.empty();
                cityDropDown.append("<option>"+ "Toate Localitatile" +"</option>");
                var url1 = "http://localhost:5064/api/location/GetAuto/" + countyDropDown.val();                
                $.get(url1, function(data)
                {
                    var auto = String(data);
                    var url = "http://localhost:5064/api/location/cities/" + auto;
                    $.get(url, function(data)
                    {
                        $.each(data, function(index)
                        {
                            cityDropDown.append("<option>" + data[index] + "</option>")
                        })
                    }) 
                });
            })
        });

            

        <!-- Searching -->
            

    </script>
}